<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class="parallax "><span>FEMORE</span></div>
<div class="hero">
   
        <div id="con1"><button routerLink="/usuarios/" pButton type="button" label="usuarios" ></button></div>
        <div id="con2"><button routerLink="/grupos/" pButton type="button" label="grupos" ></button></div>
        <div id="con3"><button routerLink="/actividades/" pButton type="button" label="actividades" ></button>
           </div>
       </div>



<router-outlet></router-outlet>
