.hero {
    background-color: rgba(23, 174, 179, 0.37);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parallax {
    background-image:url("../assets/images/arbol.jpg");
    height:400px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

#con1 {   
    
    background-color: green;
}
#con2 {
       
    background-color: green;
}
#con3 {
  
    background-color: green;
}
#con1 span {   
    padding: 2rem;
    
}
#con2 span {
       padding: 2rem;
    
}
#con3 span {
     padding: 2rem;
   
}